@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table>
        <caption>Table Test</caption>
        <thead>
            <th>Column 01</th>
            <th>Column 02</th>
        </thead>

        <tbody>            
            <tr>
                <td>Row 01</td>
                <td>Row 01.1</td>
            </tr>

            <tr>
                <td>Row 02</td>
                <td>Row 02.1</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Table Test</caption>
        <thead>
            <th>Column 01</th>
            <th>Column 02</th>
        </thead>

        <tbody>            
            <tr>
                <td>Row 01</td>
                <td>Row 01.1</td>
            </tr>

            <tr>
                <td>Row 02</td>
                <td>Row 02.1</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Table Test</caption>
        <thead>
            <th>Column 01</th>
            <th>Column 02</th>
        </thead>

        <tbody>            
            <tr>
                <td>Row 01</td>
                <td>Row 01.1</td>
            </tr>

            <tr>
                <td>Row 02</td>
                <td>Row 02.1</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Table Test</caption>
        <thead>
            <th>Column 01</th>
            <th>Column 02</th>
        </thead>

        <tbody>            
            <tr>
                <td>Row 01</td>
                <td>Row 01.1</td>
            </tr>

            <tr>
                <td>Row 02</td>
                <td>Row 02.1</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Table Test</caption>
        <thead>
            <th>Column 01</th>
            <th>Column 02</th>
        </thead>

        <tbody>            
            <tr>
                <td>Row 01</td>
                <td>Row 01.1</td>
            </tr>

            <tr>
                <td>Row 02</td>
                <td>Row 02.1</td>
            </tr>
        </tbody>
    </table>    
</div>
